body{
    background-image: url("../images/background-image.jpg");
}

table{
    background: coral;
    border-spacing: 1px;
}

img.emptyImage {
    background-image: url("../images/empty.png");
    width: 65px;
    height: 65px;
}

#gameName{
    text-align: center;
    color: #8fff44;
}
#zero {
    text-align: center;
    color: red;
}
#cross {
    text-align: center;
    color: red;
}