
body, html {
    height: 100%;
    background-color: #5b5b5b;
}


#cross{

    display: inline-block;
}
#target{

    position: absolute;
    display: inline-block;
}
#canvas{
    cursor:crosshair;
    height: 100%;
}

.hole{
    position: absolute;
}
#gun{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
}

#scores{
    list-style: none;
}
#info{
    float: right;
}
.target{position: absolute;
    display: inline-block;
}
.game_over{
    font-size: 40px;
    color: red;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    display: none;
   }
.win{
    font-size: 40px;
    color: #fff236;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    display: none;
}
#info{
    font-size: 2em;
    color: #f0ffff
}
